mixin footer()
	+b.FOOTER.footer.section
		.container
			+e.row.row
				.col-md
					+img('img/logo.png')
				.col-auto: a(href="#") Политика конфиденциальности
				.col-auto: a(href="#") Согласие на обработку данных