mixin sRegistration(data)
	// start sRegistration
	+b.SECTION.sRegistration.section#sRegistration&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 sRegistration
				
			+e.row.row
	// end sRegistration