mixin headerBlock()
	// start headerBlock
	+b.headerBlock.section#headerBlock&attributes(attributes)
		.container
			+b.section-title
				h1 Бизнес.<br>Поколение
				.sub-text #[span Бесплатная] онлайн-программа по развитию предпринимательских компетенций и старту бизнеса

			.row
						
	// end headerBlock