// start .sParticipating
.sParticipating {
	--sPT: #{rem(0)};
	// --sPB: #{rem()};
	--sTPB: #{rem(52)};
	position: relative;
  z-index: 3;
	&__row{
		// --bs-gutter-x: #{rem()};
		// --bs-gutter-y: #{rem()};
	}
	.section-title{
		
	}
  .container {
    position: relative;
    z-index: 1;
    &::before {
      content: '';
      position: absolute;
      top: -60px;
      left: -60px;
      width: calc( 100% + 60*2px);
      height: 200px;
      z-index: -1;
      border-radius: rem(60);
      background: $body-bg;
    }
  }

  .sub-text {
    font-weight: 700;
    font-size: rem(20);
    color: $gray-600;
  }


  h2 {
    color: $primary;
    margin-bottom: rem(22);
  }
	&__col{
		
	}
	&__cards {
    position: relative;
    max-width: rem(1160);
    margin: auto;
    margin-bottom: rem(52);
		display: grid;
    gap: rem(22);
    grid-template-columns: 1fr;
    @include media-breakpoint-up(lg) {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
    }
	}
  
  .bottom-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
    @include media-breakpoint-up(lg) {
      margin-left: rem(70);
    }
  }

  .icon-arrow-hand {
    margin-top: rem(-20);
    fill: $gray-600;
  }

  .gold {
    position: absolute;
    left: -3%;
    top: 50%;
    z-index: -1;
    transform: translate(-50%, -50%);
  }
	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) {}
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
} // end.sParticipating

.card-participating {
  border-radius: rem(25);
  padding: rem(22) rem(29);
  padding-right: rem(17);
  background: $orange;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: rem(10);
  cursor: pointer;

  &__text {
    color: $white;
    max-width: rem(400);
    line-height: 1.2;
    font-weight: 600;
    font-size: rem(18);
    text-wrap: pretty;
  }

  .icon-wrap {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: $white;
    border-radius: 50%;
    @include mt;
    width: rem(38);
    height: rem(38);
    @include media-breakpoint-up(md) {
      width: rem(58);
      height: rem(58);
    }
  }

  .icon {
    @include media-breakpoint-down(md) {
      font-size: rem(12);
    }
  }

  &:hover {
    background: #c85434;
    .icon-wrap {
      opacity: .9;
    }
  }
}