mixin sFAQ(data)
	// start sFAQ
	+b.SECTION.sFAQ.section#sFAQ&attributes(attributes)
		.container
			+b.section-title
				h2 Часто задаваемые вопросы:
			+ddGroup
				+ddGroupItem('Кто может участвовать в программе?')
					p Для регистрации необходимо заполнить анкету на платформе Росмолодёжь.Бизнес (https://rosmolbusiness.ru/events/ddd24252-1ddf-42e8-8d80-4b06f203b4c7), после чего с тобой свяжется наш специалист для уточнения деталей.
				+ddGroupItem('Какие сферы бизнеса имеют приоритет при отборе?')
					p Для регистрации необходимо заполнить анкету на платформе Росмолодёжь.Бизнес (https://rosmolbusiness.ru/events/ddd24252-1ddf-42e8-8d80-4b06f203b4c7), после чего с тобой свяжется наш специалист для уточнения деталей.
				+ddGroupItem('Каковы основные цели и задачи программы?')
					p Для регистрации необходимо заполнить анкету на платформе Росмолодёжь.Бизнес (https://rosmolbusiness.ru/events/ddd24252-1ddf-42e8-8d80-4b06f203b4c7), после чего с тобой свяжется наш специалист для уточнения деталей.
				+ddGroupItem('Как происходит процесс регистрации?', 'active')
					p Для регистрации необходимо заполнить анкету на платформе Росмолодёжь.Бизнес (https://rosmolbusiness.ru/events/ddd24252-1ddf-42e8-8d80-4b06f203b4c7), после чего с тобой свяжется наш специалист для уточнения деталей.
	// end sFAQ
