// start .sFAQ
.sFAQ {
	--sPT: #{rem(30)};
	--sPB: #{rem(30)};
	--sTPB: #{rem(27)};
	@include media-breakpoint-up(lg) {
		--sPT: #{rem(60)};
		--sPB: #{rem(60)};
		--sTPB: #{rem(50)};
	}
	.section-title {
		text-transform: uppercase;
	}
	.dd-group {
		&__item {
			// max-width: rem();
		}
	}
	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) {}
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
} // end.sFAQ