mixin sFAQ(data)
	// start sFAQ
	+b.SECTION.sFAQ.section#sFAQ&attributes(attributes)
		+e.container.container
			+img('img/coins-2.png').img
			+img('img/sFAQ-bg-2.png').bg
			+b.section-title
				h2 Часто задаваемые вопросы:
			+ddGroup
				+ddGroupItem('Какие навыки и знания я получу, участвуя в программе «Бизнес.Поколение»?', 'active')
					p Вы научитесь анализировать и прорабатывать бизнес-идеи, разрабатывать бизнес-планы, проверять гипотезы и защищать свои проекты перед экспертами.
				+ddGroupItem('Как проходит программа?')
					p Вы научитесь анализировать и прорабатывать бизнес-идеи, разрабатывать бизнес-планы, проверять гипотезы и защищать свои проекты перед экспертами.
				+ddGroupItem('Кто может участвовать в программе?')
					p Вы научитесь анализировать и прорабатывать бизнес-идеи, разрабатывать бизнес-планы, проверять гипотезы и защищать свои проекты перед экспертами.
				+ddGroupItem('Какие сроки проведения программы?')
					p Вы научитесь анализировать и прорабатывать бизнес-идеи, разрабатывать бизнес-планы, проверять гипотезы и защищать свои проекты перед экспертами.
	// end sFAQ
